
<div id="menu-wrapper">

  <mat-toolbar color="primary">

    <div id="menu-width">

    <span>Skill Trade</span>
  
    <span class="title-menu" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </span>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>My Account</span>
      </button>
      <button mat-menu-item>
        <mat-icon>how_to_reg</mat-icon> <!--face-->
        <span>Find a Professional</span>
      </button>
      <!-- <button mat-menu-item disabled>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button> -->
    </mat-menu>

  </div>
    
  </mat-toolbar>

</div>


<div class="route-spacing">

    <router-outlet></router-outlet>

</div>

